/* Helvetica Neue Cyr Roman*/
@font-face {
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue Cyr Roman'),
    local('HelveticaNeueCyr-Roman'),
    url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Roman.ttf') format('ttf'),
    url('../fonts/HelveticaNeueCyr-Roman.eot') format('eot');
}

/* Helvetica Neue Cyr Bold */
@font-face {
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: bold;
    src: local('Helvetica Neue Cyr Bold'),
    local('HelveticaNeueCyr-Bold'),
    url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Bold.ttf') format('ttf'),
    url('../fonts/HelveticaNeueCyr-Bold.eot') format('eot');
}

:root {
    --color-black: #000;
    --color-white: #fff;

    --gray-light: #fafafa;

    --gray-dark: #929292;

    --main-color: #1e355d;
    --secondary-color: #ff9e00;

    --email-link-color: #32b3e9;
    --scrollbar-color: #babac0;

    --country-bg-color: var(--color-white);
    --active-country-bg-color: var(--secondary-color);
}

html, body {
    height: 100%;
    margin: 0;
}

.main {
    height: 100%;
    padding: 7px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    font-family: 'HelveticaNeueCyr', sans-serif;
}
/* Map */

.map {
    width: 100%;
}


/* Filter */

.sidebar {
    width: 396px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background-color: var(--gray-light, #fafafa);
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.17);
}

.countries {
    width: 100%;
    height: 34px;
    margin-bottom: 13px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.country {
    width: 198px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: bold;
    color: var(--gray-dark);
    background-color: var(--color-white, #fff);
    border: 1px solid var(--gray-dark, #929292);
    cursor: pointer;
    user-select: none;
}

.country.active {
    color: var(--color-white, #fff);
    background-color: var(--secondary-color, #ff9e00);
    border: none;
}

.country-data {
    display: none;
    overflow-y: scroll;
    height: 100%;
}

.country-data::-webkit-scrollbar {
    width: 6px;
}

.country-data::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 5px;
}

.country-data::-webkit-scrollbar-button {
    display:none;
}



.country-data.active {
    display: block;
}

.city {
    padding: 8px 0;
    font-size: 17px;
    cursor: default;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.city:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.05);

}

.city-name {
    padding: 20px 0;
    font-weight: bold;
    margin-left: 25px;
    cursor: pointer;
    position: relative;
    user-select: none;
    color: var(--main-color, #1e355d);
}

.city-name:after {
    right: 41px;
    top: 26px;
    background-color: var(--main-color, #1e355d);
    -webkit-mask-image: url("../img/dropdown.svg");
    mask-image: url("../img/dropdown.svg");
    width: 12px;
    height: 8px;
    content: "";
    position: absolute;
    transition: transform .5s;
}

summary.city-name::-webkit-details-marker {
    display: none;
}

summary.city-name::-moz-list-bullet {
    list-style-type: none;
}

summary.city-name {
    list-style: none;
}

details[open] > summary.city-name {
    color: var(--secondary-color, #ff9e00);
}

details[open] > summary.city-name:after {
    transform: rotateZ(180deg);
    background-color: var(--secondary-color, #ff9e00);
}

details[open] > summary.city-name ~ * {
    animation: sweep .4s ease-in-out;
}

@keyframes sweep {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.offices-list {
    font-size: 14px;
    margin: 4px 0 30px 0;
    padding-left: 28px;
}

.office {
    list-style-type: none;
    margin-bottom: 40px;
}

.office-name {
    color: var(--main-color, #1e355d);
    font-weight: bold;
    margin-bottom: 19px;
}

.manager-name {
    margin-bottom: 18px;
}

.phone-numbers {
    margin-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
}

.phone {
    text-decoration: none;
    color: var(--color-black, #000);
    margin-right: 11px;
}

.email {
    font-size: 16px;
    text-decoration: none;
    color: var(--email-link-color, #32b3e9);
    margin-left: 2px;
}


/* Balloon */

.popover {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 376px;
    min-height: 180px;
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
    white-space: normal;
    background-color: var(--main-color, #1e355d);

}

.popover.top .arrow {
    bottom: -11px;
    left: 79px;
    margin-left: -11px;
    border-bottom-width: 0;
}

.popover .arrow {
    border-width: 11px;
}

.popover .arrow, .popover .arrow:after {
    position: absolute;
    border-color: transparent;
    border-style: solid;
}

.popover.top .arrow:after {
    bottom: 1px;
    margin-left: -10px;
    border-top-color: var(--main-color, #1e355d);
    border-bottom-width: 0;
}

.popover .arrow:after {
    border-width: 10px;
    content: "";
}

.popover.top {
    margin-top: -10px;
}

.popover .close {
    position: absolute;
    right: 0;
    top: 0;
    width: 22px;
    height: 22px;
    box-sizing: border-box;
    margin: 5px;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xMDYgLTEwNiA0MjQgNDI0IiB4bWw6c3BhY2U9InByZXNlcnZlIj48cGF0aCBzdHlsZT0iZmlsbC1ydWxlOmV2ZW5vZGQ7Y2xpcC1ydWxlOmV2ZW5vZGQiIGZpbGw9IiNmZmYiIGQ9Im0xMzEuODA0IDEwNi40OTEgNzUuOTM2LTc1LjkzNmM2Ljk5LTYuOTkgNi45OS0xOC4zMjMgMC0yNS4zMTItNi45OS02Ljk5LTE4LjMyMi02Ljk5LTI1LjMxMiAwTDEwNi40OTEgODEuMTggMzAuNTU0IDUuMjQyYy02Ljk5LTYuOTktMTguMzIyLTYuOTktMjUuMzEyIDAtNi45ODkgNi45OS02Ljk4OSAxOC4zMjMgMCAyNS4zMTJsNzUuOTM3IDc1LjkzNi03NS45MzcgNzUuOTM3Yy02Ljk4OSA2Ljk5LTYuOTg5IDE4LjMyMyAwIDI1LjMxMiA2Ljk5IDYuOTkgMTguMzIyIDYuOTkgMjUuMzEyIDBsNzUuOTM3LTc1LjkzNyA3NS45MzcgNzUuOTM3YzYuOTg5IDYuOTkgMTguMzIyIDYuOTkgMjUuMzEyIDAgNi45OS02Ljk5IDYuOTktMTguMzIyIDAtMjUuMzEybC03NS45MzYtNzUuOTM2eiIvPjwvc3ZnPg==) 50% no-repeat;
}

.popover .office {
    font-family: 'HelveticaNeueCyr', sans-serif;
    font-size: 14px;
    color: var(--color-white, #fff);
    margin: 0 20px 40px 30px;
}

.popover  .office-name {
    color: var(--secondary-color, #ff9e00);
}

.popover .phone {
    color: var(--color-white, #fff);
}

.popover .popover-inner > ymaps {
    overflow-y: scroll !important;
    margin-top: 20px;
}

.cluster-balloon-offices {
   margin-left: 20px;
}

.cluster-balloon-offices .office {
    margin-bottom: 15px;
}

.cluster-balloon-offices .office div {
    margin-bottom: 10px;
}

.cluster-balloon-office-number {
    color: var(--color-white);
    user-select: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.popover .popover-inner > ymaps::-webkit-scrollbar {
    width: 6px;
}

.popover .popover-inner > ymaps::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 5px;
}
.popover .popover-inner > ymaps::-webkit-scrollbar-button {
    display:none;
}


