/* Helvetica Neue Cyr Roman*/
@font-face {
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue Cyr Roman'),
    local('HelveticaNeueCyr-Roman'),
    url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Roman.ttf') format('ttf'),
    url('../fonts/HelveticaNeueCyr-Roman.eot') format('eot');
}

/* Helvetica Neue Cyr Bold */
@font-face {
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: bold;
    src: local('Helvetica Neue Cyr Bold'),
    local('HelveticaNeueCyr-Bold'),
    url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Bold.ttf') format('ttf'),
    url('../fonts/HelveticaNeueCyr-Bold.eot') format('eot');
}

:root {
    /*--color-dark: #1e1e1e;*/
    --color-black: #000;
    /*--color-light: #dde4fd;*/
    --color-white: #fff;

    --gray-light: #fafafa;

    --gray-dark: #929292;

    /*--bg-color: var(--color-black);
    --text-color: var(--color-white);*/
    --main-color: #1e355d;
    --secondary-color: #ff9e00;

    --email-link-color: #32b3e9;

    --country-bg-color: var(--color-white);
    --active-country-bg-color: var(--secondary-color);


}

html, body {
    height: 100%;
    margin: 0;
}

.main {
    height: 100%;
    padding: 7px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    font-family: 'HelveticaNeueCyr', sans-serif;
}

.sidebar {
    width: 396px;
    height: 100%;
    background-color: var(--gray-light, #fafafa);
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.17);
}


.countries {
    width: 100%;
    height: 34px;
    margin-bottom: 13px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.country {
    width: 198px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: bold;
    color: var(--gray-dark);
    background-color: var(--color-white, #fff);
    border: 1px solid var(--gray-dark, #929292);
    cursor: pointer;
    user-select: none;
}

.country.active {
    color: var(--color-white, #fff);
    background-color: var(--secondary-color, #ff9e00);
    border: none;
}

.country-data {
    display: none;
}

.country-data.active {
    display: block;
}



.city {
    padding: 8px 0;
    font-size: 17px;
    cursor: default;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.city:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.05);

}

.city-name {
    padding: 20px 0;
    font-weight: bold;
    margin-left: 25px;
    cursor: pointer;
    position: relative;
    user-select: none;
    color: var(--main-color);
}

.city-name:after {
    right: 41px;
    top: 26px;
    background-color: var(--main-color);
    -webkit-mask-image: url("../img/dropdown.svg");
    mask-image: url("../img/dropdown.svg");
    width: 12px;
    height: 8px;
    content: "";
    position: absolute;
    transition: transform .5s;
}

summary.city-name::-webkit-details-marker{display:none;}
summary.city-name::-moz-list-bullet{list-style-type:none;}
summary.city-name {list-style: none;}

details[open] > summary.city-name {
    color: var(--secondary-color);
}

details[open] > summary.city-name:after {
    transform: rotateZ(180deg);
    background-color: var(--secondary-color);
}

details[open] > summary.city-name ~ *{
    animation: sweep .4s ease-in-out;
}

@keyframes sweep {
    0%    {opacity: 0;}
    100%  {opacity: 1;}
}

.offices-list {
    list-style-type: none;
    font-size: 14px;
    margin: 4px 0 30px 0;
    padding-left: 28px;
}

.office {
    margin-bottom: 40px;
}

.office-name {
    color: var(--main-color);
    font-weight: bold;
    margin-bottom: 19px;
}

.manager-name {
    margin-bottom: 18px;
}

.phone-numbers {
    margin-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
}

.phone {
    text-decoration: none;
    color: var(--color-black, #000);
    margin-right: 11px;
}

.email {
    font-size: 16px;
    text-decoration: none;
    color: var(--email-link-color, #32b3e9);
    margin-left: 2px;
}